MASTER_SHEET_ID=your_master_google_sheet_id_here
ABILITIES_WORKSHEET_NAME=Abilities
CHAMPS_WORKSHEET_NAME=Champs
GOOGLE_SERVICE_ACCOUNT_FILE=credentials/service-account.json
BUFFS_URL=https://marvel-contestofchampions.fandom.com/wiki/Buff
DEBUFFS_URL=https://marvel-contestofchampions.fandom.com/wiki/Debuff
MCOC_GG_SHEET_ID=your_staging_google_sheet_id_here
MCOC_GG_CHAMPIONS_WORKSHEET_NAME=Champions
MCOC_GG_BASE_URL=https://mcoc.gg
